/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Code for Fonts
font-family: 'Karla', sans-serif;
font-family: 'Merriweather Sans', sans-serif; 
brown color: rgba(195, 113, 56, 0.63) */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Karla', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
    background-position: 100%;
    padding-right: .6em;
}

#logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}

#makup-artist {
    font-weight: lighter;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-align: right;
}

#menu>li {
    margin-bottom: 1em;
    color: black;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Nav toggle dropdown list*/
nav {
    position: absolute;
    width: 100%;
    background-position: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    background-color: #ffffff;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: white;
    flex: 1 0 auto;
    margin-top: 74px;
}

/* Logo Image */
#logo-image img {
    height: 250px;
    width: 100%;
}

/* About Me */

#about h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #3a3a3a;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
}

#about p {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: justify;
    background-color: rgba(47, 52, 48, 0.8);
    margin: 0 5px;
    border-radius: 2%;
    color: #ffffff;

}

#about hr {
    padding-top: 40px;
    color: #ffffff;
}

#about-me-image img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 15px;
    border-radius: 10%;
}

#about-me-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Section Line */

.section-line {
    height: 40px;
    width: 100%;
    border-bottom: 0.5px solid #3a3a3a;


}

/* Services */

#services-section {
    background-color: rgba(195, 113, 56, 0.63);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#services h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #3a3a3a;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
}

#services hr {
    margin-top: 20px;
    padding: 0 20px;
}

#services p {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    margin: 0 5px;
    border-radius: 2%;
    color: #3a3a3a;

}

#services h3 {
    font-family: 'Karla', sans-serif ;
    color: #3a3a3a;
}

/* Bridal Makeup */
#bridal-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 475px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
}

#bridal-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#bridal-service h3 {
    padding-top: 10px;
}

#bridal-service p {
    text-align: justify;
    padding: 15px;

}

/* Photoshoot Makeup */
#photoshoot-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 475px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
    margin-top: 20px;
}

#photoshoot-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#photoshoot-service h3 {
    padding-top: 10px;
    text-align: center;
}

#photoshoot-service p {
    text-align: justify;
    padding: 15px;

}

/* Events Makeup */
#events-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 475px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
    margin-top: 20px;
}

#events-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#events-service h3 {
    padding-top: 10px;
    text-align: center;
}

#events-service p {
    text-align: justify;
    padding: 15px;

}

/* Reviews */
#reviews h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #3a3a3a;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
    padding-bottom: 10px;
}

#reviews p {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    margin: 0 5px;
    border-radius: 2%;
    color: #3a3a3a;

}

/* Footer */
footer {
    #social-media {
        display: flex;
        justify-content: space-evenly;
        text-align: center;
        padding: 20px 0;
        list-style: none;
    }

    #social-media i {
        font-size: 160%;
        padding: 5%;
        color: #3a3a3a;
    }
}

/* Media query for tablet and larger screen 768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: .5rem;
    }

    #menu {
        display: flex;
        align-items: center;
        font-size: 80%;
        letter-spacing: 2px;
        list-style-type: none;
        text-align: right;
        color: black;
        padding-top: 11px;
    }

    #menu>li {
        padding-left: .5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 100%;
        line-height: 25px;
        margin: 0 0.5rem;
    }

    /* Main Content */

    /* push main content down */

    main {
        margin-top: 70px;
    }

    /* Logo Image */
    #logo-image img {
        height: 500px;
        width: 100%;
    }

    /* About Me */

    #about-me-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #about-me-image img {
        margin: 0 20px;
    }

    #about h2 {
        font-size: 200%;
    }

    #about p {
        margin-right: 20px;
        border-radius: 2%;
        padding: 50px 20px;
        line-height: 20px;
    }

    /* Services */

    #services h2 {
        font-size: 200%;
    }

    #services-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

    }

    /* Reviews */
    #reviews h2 {
        font-size: 200%;
    }
    


    /* Large Devices like Laptop and Desktop (992px and up) */

    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid black;
            color: rgba(195, 113, 56, 0.63);
            
        }

        #menu a:active {
            border-bottom: 1px solid rgba(195, 113, 56, 0.63);
            color: rgba(195, 113, 56, 0.63);
        }

        #menu {
            font-size: 110%;
        }

        #logo {
            font-size: 120%;
        }

        /* push main content down */

        main {
            margin-top: 83px;
        }

        /* Logo Image */
        #logo-image img {
            height: 600px;
            width: 100%;
        }
    }

    /* About Me */

    #about h2 {
        font-size: 250%;
    }

    #about-content em {
        padding: 80px 20px;
        line-height: 30px;
    }

    /* Services */

    #services h2 {
        font-size: 250%;
    }

    #services-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Reviews */

    #reviews h2 {
        font-size: 250%;
    }
}