/* Google Font Import */
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Merriweather+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #585656;
    font-family: 'Karla', sans-serif;
}

/* Header */
header {
    background-color: #ffffff;
    padding: 1rem 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: inherit;
    background-position: 100%;
    padding-right: .6em;
}

#logo {
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    color: #585656;
}

#makup-artist {
    font-weight: lighter;
}

/* Menu */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
    text-align: right;
}

#menu>li {
    margin-bottom: 1em;
    color: black;
}

/* Nav toggle dropdown list - Learnt the code from Walkthrough project */
nav {
    position: absolute;
    width: 100%;
    background-position: 100%;
    box-shadow: 0 2px 2px #3a3a3a;
    padding: 0 1rem;
    background-color: #ffffff;
    left: 0;
    display: none;
    top: 100%;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Main Content */
main {
    background-color: white;
    flex: 1 0 auto;
    margin-top: 74px;
}

/* Logo Image */
#logo-image img {
    height: 100%;
    width: 100%;
}

/* About Me */

#about h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #585656;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;

}

#about p {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: justify;
    background-color: rgba(47, 52, 48, 0.8);
    margin: 0 5px;
    border-radius: 2%;
    color: #ffffff;
    max-width: 660px;
    max-height: 500px;

}

#about hr {
    padding-top: 40px;
    color: #ffffff;
}

#about-me-image img {
    width: 70vw;
    height: 70vw;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 15px;
    border-radius: 10%;
    border: 2px solid #585656;
}

#about-me-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#about-me-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.active {
    border-bottom: 1px solid rgba(195, 113, 56, 0.63);
    color: rgba(195, 113, 56, 0.63);
}

/* Services */

#services {
    background-color: rgba(195, 113, 56, 0.63);
    margin-top: 50px;
    padding-bottom: 50px;
}

#services-section {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

#services h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
    padding-bottom: 10px;
}

#services hr {
    margin-top: 20px;
    padding: 0 20px;
}

#services p {
    font-family: 'Karla', sans-serif;
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    margin: 0 5px;
    border-radius: 2%;
    color: #3a3a3a;

}

#services h3 {
    font-family: 'Karla', sans-serif;
    color: #3a3a3a;
}

/* Bridal Makeup */
#bridal-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 5px 5px 2px #3a3a3a;
}

#bridal-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#bridal-service h3 {
    padding-top: 10px;
    color: #585656;
}

#bridal-service p {
    text-align: justify;
    padding: 15px;

}

/* Photoshoot Makeup */
#photoshoot-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 5px 5px 2px #3a3a3a;
}

#photoshoot-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#photoshoot-service h3 {
    padding-top: 10px;
    text-align: center;
    color: #585656;
}

#photoshoot-service p {
    text-align: justify;
    padding: 15px;

}

/* Events Makeup */
#events-service {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    height: 500px;
    width: 300px;
    background-color: #ffffff;
    border: 10px;
    align-items: center;
    margin-top: 20px;
    box-shadow: 5px 5px 2px #3a3a3a;
}

#events-service img {
    width: 90vw;
    height: 90vw;
    max-width: 300px;
    max-height: 300px;
    border: 12px solid #ffffff;
}

#events-service h3 {
    padding-top: 10px;
    text-align: center;
    color: #585656;
}

#events-service p {
    text-align: justify;
    padding: 15px;

}

/* Reviews */
#reviews h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #585656;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
    padding-bottom: 10px;
}

#reviews p {
    font-family: 'Karla', sans-serif;
    font-weight: 350;
    letter-spacing: 1px;
    line-height: 25px;
    padding: 20px;
    font-size: 100%;
    text-align: center;
    margin: 0 5px;
    border-radius: 2%;
    color: #3a3a3a;

}

/* Portfoloio */
#portfolio {
    background-color: rgba(47, 52, 48, 0.8);
    padding-bottom: 80px;
}

#portfolio h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px;
    padding-bottom: 30px;
}

.container {
    max-width: 1224px;
    width: 90%;
    margin: auto;
    padding: 10px 10px;
    background-color: #ffffff;
}

.photo-gallery {
    display: flex;
    gap: 8px;
    align-items: center;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/* Pop-up Image */

.photo-gallery .column .photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: 1.5s linear;

}

.photo-gallery .column .photo:hover img {
    cursor: pointer;
    transform: scale(1.1);
}

.popup-image {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .9);
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}

.popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 60px;
    font-weight: bolder;
    color: #ffffff;
    cursor: pointer;
    z-index: 100;
}

.popup-image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    object-fit: contain;

}

/* Makeup Video */

#my-work {
    background-color: #ffffff;
    margin: 70px 0;
}

#makeup-video {
    position: relative;
/* Equals 16:9 ratio - Learnt from a YouTube Tutorial */
    padding-bottom: 56.25%;
    height: 0;
}

#makeup-video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}

/* Contact */

#contact h2 {
    font-family: 'Karla', sans-serif;
    font-size: 170%;
    color: rgba(195, 113, 56, 0.63);
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 30px 30px 5px 30px;
}

#contact p {
    font-family: 'Karla', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 25px;
    font-size: 100%;
    text-align: center;
    margin: 0 5px;
    color: #585656;

}

/* Contact Form */
#form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;
}

#name,
#phone,
#email,
#message,
#submit {
    background-color: rgba(195, 113, 56, 0.63);
    color: #ffffff;
    padding: 7px 5px;
    margin: 5px 0px;
    border: none;
}

textarea {
    width: 100px;
    margin-left: 5px
}

button {
    width: 60px
}

::placeholder {
    color: #ffffff;
    opacity: 0.7;
}

form {
    height: 200px;
    width: 270px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
}

#form-right {
    margin: 0 5px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

#form-left {
    margin: 0 5px;
}

/* Contact details */

#contact-details {
    padding: 20px 0;
    background-color: rgba(195, 113, 56, 0.63);
    margin: 40px 0;
    padding-left: 10px;
}

#contact-details h2 {
    font-family: 'Karla', sans-serif;
    font-size: 150%;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0;
}

#contact-details strong {
    color: #585656;
}

#contact-info {
    width: 100%;
    overflow-x: scroll;
    display: flex;
    align-items: center;
}

td {
    color: #ffffff;
    font-weight: 450;
    font-size: 100%;
    line-height: 25px;
    letter-spacing: 2px;
    padding: 5px;
    object-fit: contain;
}

table {
    position: relative;
    display: block;
    width: 500px;
    height: 100%;
    padding: 20px;
    border-spacing: 0 10px;
    margin-left: auto;
    margin-right: auto;
}

/* Google Map */

#google-map {
    position: relative;
    width: 100%;
    height: 500px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;

}

#google-map iframe {
   display: block;
    width: 100%;
    height: 100%;
    margin: 50px 0;
}

/* Thank You Page */

#ty-page {
    background-image: url(https://i.ibb.co/P1TTwwc/different-cosmetics-scattered-beige-table.jpg);
    background-repeat: no-repeat ;
    background-size: cover;
}

#thankyou-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto ;
    width: 100%;
    height: 100%;
} 
#thank-you {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 10px;
    border: 10px double #585656;
    max-height: 750px;
    max-width: 650px;
    width: 90%;
    height: 90%;
    background-color: #fffffff1;
}

#thank-you img {
    width: 50%;
    height: 50%;
    max-width: 500px;
    max-height: 500px;
    object-fit: contain;
    margin: auto;

}

#message-container {
margin: auto;
width: 120vw;
height: 100vw;
max-width: 350px; 
max-height: 350px;
display: flex;
align-items: center;
flex-wrap: wrap;
justify-content: center; 
background-color: rgba(230, 163, 107, 0.73);
opacity: 1;
margin: 30px 30px;
border-radius: 30px;
}

#message-container h2 {
    text-align: center;
    font-family:'Josefin Sans', sans-serif;
    font-size: 200%;
    color: #3a3a3a;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 10px 0;
    margin: auto;
}

#message-container p {
    color: #ffffff;
    font-weight: 350;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight:400;
    font-size: 100%;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
    padding: 0 10px 10px 10px;
    margin: auto;
}

#go-home i{
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
    position: absolute;
    bottom: 0%;
    right: 0%;

}

/* 404.html */
#oops img {
    height: 70vw;
    width: 90vw;
    border-radius: 50%;
    margin: auto;
    max-height: 400px;
    max-width: 711px;
    object-fit: contain;
}

#oops {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

#oops h2 {
        text-align: center;
        font-family:'Josefin Sans', sans-serif;
        font-size: 170%;
        color: #3a3a3a;
        text-align: center;
        font-weight: 600;
        letter-spacing: 3px;
        padding: 10px 0;
        margin: auto;
    }

#oops h3 {
        text-align: center;
        font-family:'Josefin Sans', sans-serif;
        font-size: 150%;
        color: #3a3a3a;
        text-align: center;
        font-weight: 500;
        letter-spacing: 3px;
        padding: 10px 0;
        margin: auto;
    }

#oops p {
    color: #ffffff;
    font-weight: 350;
    font-family: 'Josefin Sans', 'sans-serif';
    font-weight:400;
    font-size: 100%;
    line-height: 25px;
    letter-spacing: 2px;
    text-align: center;
    padding: 10px 30px 10px 10px;
    margin: auto;
}

#minigame {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center ;
    justify-content: space-evenly;
    margin: auto;
    max-width: 500px;
    max-height: 500px;

}

.grid {
    border: 1px solid black;
    margin: 10px;
    padding: 20px;
    height: 20vw;
    width: 20vw;
    max-width: 120px;
    max-height: 120px;
    font-size: 30px;
    text-align: center;
    background-color: rgba(230, 163, 107, 0.73);
    display: flex;
    align-content: center;
    justify-content: center;
}

.icon {
    display: none;
}

.icon i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;

} 

.grid:hover > .icon {
    display: block;
}

/* Footer */
footer {
    background-color: rgba(47, 52, 48, 0.8);

}
#social-media {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px 0;
    list-style: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #ffffff;
}

/* Disclaimer */

#disclaimer p {
    color: #ffffff;
    font-size: 30%;
    padding: 5px;
}

#disclaimer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}



/* Media query for tablet and larger screen 768px and up */
@media screen and (min-width: 768px) {

    /* Header */
    nav {
        display: block;
        box-shadow: none;
        position: relative;
        width: fit-content;
        padding-right: .5rem;
    }

    #menu {
        display: flex;
        align-items: center;
        font-size: 80%;
        letter-spacing: 2px;
        list-style-type: none;
        text-align: right;
        color: black;
        padding-top: 11px;
    }

    #menu>li {
        padding-left: .5rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 100%;
        line-height: 25px;
        margin: 0 0.5rem;
    }

    /* Main Content */

    /* push main content down */

    main {
        margin-top: 70px;
    }

    /* About Me */

    #about-me-flex {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    #about-me-image img {
        margin: 0 20px;
    }

    #about h2 {
        font-size: 200%;
    }

    #about p {
        margin-right: 20px;
        border-radius: 2%;
        padding: 50px 20px;
        line-height: 20px;
        margin-top: 40px;
    }

    /* Services */

    #services h2 {
        font-size: 200%;
    }

    #services-section {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
        flex-wrap: wrap;

    }

    /* Reviews */
    #reviews h2 {
        font-size: 200%;
    }

    /* Portfolio */
    #portfolio h2 {
        font-size: 200%;
    }

    /* contacts */
    #contact-details h2 {
        font-size: 200%;
    }

    #contact h2 {
        font-size: 200%;
    }

    td {
        color: #ffffff;
        font-weight: 350;
        font-size: 110%;
        line-height: 25px;
        letter-spacing: 2px;
        padding: 5px;
    }

    table {
        border-spacing: 10px;
    }

    /* Thank You Page */

    #message-container h2 {
        font-size: 250%;
    }

    #message-container p {
        font-size: 120%;
        line-height: 30px;
    }

    #go-home i{
        font-size: 180%;

    }

    /* Disclaimer */

    #disclaimer p {
        font-size: 50%;

    }

    /* Large Devices like Laptop and Desktop (992px and up) */

    @media screen and (min-width: 992px) {
        #menu a:hover {
            border-bottom: 1px solid black;
            color: rgba(195, 113, 56, 0.63);

        }

        #menu a:active {
            border-bottom: 1px solid rgba(195, 113, 56, 0.63);
            color: rgba(195, 113, 56, 0.63);
        }

        #menu {
            font-size: 110%;
        }

        #logo {
            font-size: 120%;
        }

        /* push main content down */

        main {
            margin-top: 83px;
        }

    }

    /* About Me */

    #about h2 {
        font-size: 250%;
    }

    #about-content em {
        padding: 80px 20px;
        line-height: 30px;
    }

    #about-me-flex {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: nowrap;
    }

    /* Services */

    #services h2 {
        font-size: 250%;
    }

    #services-section {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    /* Reviews */

    #reviews h2 {
        font-size: 250%;
    }

    /* Portfolio */
    #portfolio h2 {
        font-size: 250%;
    }

    /* Contact */
    #contact-details h2 {
        font-size: 250%;

    }

    #contact h2 {
        font-size: 250%;
    }

    td {
        color: #ffffff;
        font-weight: 350;
        font-size: 120%;
        line-height: 25px;
        letter-spacing: 2px;
        padding: 5px;
    }

    table {
        border-spacing: 10px;
    }

    /* Thank You Page */

    #message-container h2 {
        font-size: 300%;
    }

    #message-container p {
        font-size: 150%;
        line-height: 35px;
    }

    #go-home i{
        font-size: 200%;
}

/* Disclaimer */

#disclaimer p {
    font-size: 70%;

}

}